*.db
class/quiz1/bio.html
class/quiz2/dict.txt
class/quiz2/phrases-json.php
class/quiz2/phrases-plain.php
class/quiz2/phrases.php
class/quiz2/phrases2.php
class/quiz2/q2.jpg
class/quiz2/q3.jpg
class/quiz2/q16.jpg
class/quiz3/calpal.zip
class/quiz3/test.py
class/quiz3/calpal/calendar.php
class/quiz3/calpal/index.html
